<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ business_name }} WiFi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="icon" type="image/png" href="../static/images/favicomatic/favicon-32x32.png" height="32" width="32"/>
    <link rel="icon" type="image/png" href="../static/images/favicomatic/favicon-16x16.png" height="16" width="16"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="page">
    <div class="head">
        <br>
        <figure id="logo">
            <img src="../static/images/logo.png" height="150" width="150"/>
        </figure>
    </div>

    <div class="main">
        <section class="section">
            {% if error %}
            <div class="col s12">
                <div class="card-panel red lighten-2">
                    <span class="white-text">{{ error }}</span>
                </div>
            </div>
            {% endif %}
            <div class="container">
                <div id="margin_zero" class="content has-text-centered is-size-6">Please wait, you are being</div>
                <div id="margin_zero" class="content has-text-centered is-size-6">authorized on the network</div>
                                <div id="margin_zero" class="content has-text-centered is-size-6">  {{  app_data.link_login_only }}</div>


            </div>
        </section>
    </div>
</div>
<form id="form1" name="form1" method="post" action="http://192.168.88.1/login">
    <input name="dst" type="hidden" value="{{  app_data.linkorig }}"/>
    <input name="popup" type="hidden" value="false"/>
    <input name="username" type="hidden" value="{{ uname }}"/>
    <input name="ip" type="hidden" value="{{ app_data.ip }}"/> <!-- Add this line -->
    <input name="phone" type="hidden" value="{{ app_data.phone }}"/> <!-- Add this line -->
    <input name="mac" type="hidden" value="{{ app_data.mac }}"/> <!-- Add this line -->
    <input name="link_login_only" type="hidden" value="{{ app_data.link_login_only }}"/>
    <input name="link_login" type="hidden" value="{{ app_data.link_login }}"/> <!-- Add this line -->
    <input name="error" type="hidden" value="{{ app_data.error }}"/> <!-- Add this line -->

    <!-- Add this line -->


</form>
<script type="text/javascript">
        document.getElementById('redirectForm').submit();

</script>
</body>
</html>