<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ business_name }} WiFi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/all.min.css"/>
    <link rel="icon" type="image/png" href="../static/images/favicomatic/favicon-32x32.png" height="32" width="32"/>
    <link rel="icon" type="image/png" href="../static/images/favicomatic/favicon-16x16.png" height="16" width="16"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="page">
    <div class="head">
        <figure id="logo">
            <img src="../static/images/logo.png" height="1308" width="1276"/>
        </figure>
    </div>
    <div class="main">
        <section class="section">
            <div class="container">

            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    const passwordField = document.getElementById("password");
    const togglePassword = document.querySelector(".password-toggle-icon i");

    togglePassword.addEventListener("click", function () {
        if (passwordField.type === "password") {
            passwordField.type = "text";
            togglePassword.classList.remove("fa-eye");
            togglePassword.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            togglePassword.classList.remove("fa-eye-slash");
            togglePassword.classList.add("fa-eye");
        }
    });
</script>
</body>
</html>