<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
</head>
<body>
<form id="redirectForm" method="post" action="{{ url_for('connect') }}">
    <input type="hidden" name="mac" value="{{ app_data['mac'] }}">
    <input type="hidden" name="ip" value="{{ app_data['ip'] }}">
    <input type="hidden" name="link_login" value="{{ app_data['link_login'] }}">
    <input type="hidden" name="link_login_only" value="{{ app_data['link_login_only'] }}">
    <input type="hidden" name="error" value="{{ app_data['error'] }}">
</form>
<script type="text/javascript">
    document.getElementById('redirectForm').submit();
</script>
</body>
</html>


<form id="form1" name="form1" method="post" action="{{ app_data.link_login_only }}">
    <input name="dst" type="hidden" value="{{ app_data.linkorig }}"/>
    <input name="popup" type="hidden" value="false"/>
    <input name="username" type="hidden" value="{{ uname }}"/>
    <input name="ip" type="hidden" value="{{ app_data.ip }}"/>
    <input name="phone" type="hidden" value="{{ app_data.phone }}"/>
    <input name="mac" type="hidden" value="{{ app_data.mac }}"/>
    <input name="link_login_only" type="hidden" value="{{ app_data.link_login_only }}"/>
    <input name="link_login" type="hidden" value="{{ app_data.link_login }}"/>
    <input name="error" type="hidden" value="{{ app_data.error }}"/>
</form>
<script type="text/javascript">
    window.onload = function () {
        window.setTimeout(function () {
            document.form1.submit();
        }, 2000);
    };
</script>